body {
  background-color: black;
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #F5CA5C;
  height: 620px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 200px;
  text-align: center;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}

h3 {
    margin: auto;
    width: 50%;
}

.btn{
  background-color:grey;
  border-color:grey;
  color:white;
}

.btn:active, .btn:visited {
  background-color: black;
}

.active {
  background-color:black; 
  border-color:black;
}

.main {
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  height: 700px;
  width: 100%;
}

.main-form {
    text-align: center;
}


h2 {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}


input {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
}

input:focus {
    border: 3px solid #555;
}



.major-text {
  border: 1px solid #FFF;
  padding: 40px 0px;
  margin: 5px 0px;
  text-align: center;
}


.submit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.submit-button {
    background-color: green;
    border-color: green;
    width: 400px;
    margin: 0 auto;
    color: white;
}

.errors {    
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
    color:  white;
    border-radius: 5px;
    padding-left: 70px;
    background: #cc0000 url("https://freeiconshop.com/files/edd/document-error-flat.png") no-repeat;
    background-size: 40px 40px;
    background-position: 2% 50%;
}
